body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#page-container {
  text-align: center;
}


/* 
 Searchbar 
*/

#search-bar {
  height: 24px;
  width: 40%;
  max-width: 300px;
  min-width: 100px;
  border: 1px lightgrey solid;
  border-right: none;
  border-radius: 2px;
  padding-left: 5px;
  margin: 0 auto;
  background-color: #f1f1f1;
  font-size: 0.7em;
}

#search-button {
  height: 24px;
  width: 24px;
  border-radius: 2px;
  background: #f1d9e1;
  border: 1px solid lightgrey;
  border-left: none;
}

.search-bar-container {
  text-align: center;
  margin-top: 40px;
}

/*
 Homepage info
*/

#homepage-info,
.image-title {
  width: 80%;
  margin: 0 auto;
  font-style: italic;
  font-size: 0.8em;
  color: #333;
  max-width: 616px;
}

.image-title {
  font-weight: lighter;
  margin-bottom: 30px;
}

#homepage-info {
  border: #f1d9e1 1px solid;
  border-radius: 5px;
}

/*
 Loading / Error gifs
*/

.loading {
  height: 50px;
  width: 50px;
  margin: 30px auto 0;
  background: url('./images/loading.gif');
  background-size: cover;
}

.error-gif {
  height: 250px;
  width: 250px;
  margin: 0 auto;
  background: url('./images/404error.gif');
  background-size: cover;
}

/*
 Image names
*/

ul.gif-name-container {
  text-align: center;
  margin: 25px 0 15px;
  padding: 0;
}

li {
  text-decoration: none;
  list-style-type: none;
}

.image-names {
  margin: 5px;
  padding: 3px;
  background-color: #f1d9e1;
  border-radius: 3px;
  color: #333;
  font-size: 0.7em;
  width: 15%;
  height: 20px;
  max-width: 70px;
  display: inline-block;
  text-align: center;
}

.image-names-text {
  text-align: center;
  vertical-align: middle;
  line-height: 20px;  
}

a {
  color: inherit;
  text-decoration: none;
}

/*
 Image container
*/

.image-container {
  margin: 0 auto;
}

.photo {
  margin: 5px 15px;
  border: 1px solid #f1d9e1;
  border-radius: 5px;
  padding: 5px;
}

/*
  ##### Media Queries #####
*/

@media only screen and (min-width: 768px) {

.image-container {
  width: 90%;
  max-width: 900px;
}


}